.Slideshow {
    position: relative;
}

.slideshow-enter {
    opacity: .5;
}

.slideshow-enter.slideshow-enter-active {
    opacity: 1;
    transition: opacity 400ms linear;
}

.Slideshow-load {
    display: none;
}