.PhotoInfo {
    color: #333;
    font-size: .85em;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 768px) {
    .PhotoInfo {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .PhotoInfo {
        margin-bottom: 1em;
        width: 100%;
    }
}
